
<div class="card">
    <div class="card-header border-0 d-flex flex-row align-items-center">
        <h3 class="card-title">@Title</h3>
        <span class="flex-fill"></span>
        <div class="card-tools">
            @AddtionalHeaderContent
        </div>
    </div>
    <div class="card-body">
        @Body
    </div>
</div>

@code {

    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment AddtionalHeaderContent { get; set; }
}
