@using System.Linq.Expressions;
@typeparam TValue

<div class="form-group row">
    <div class="@LabelClass">
        <CustomLabel For="For" class="col-form-label" />
        @AdditonalLabelContent
    </div>
    <div class="@InputClass">
        @ChildContent
        <ValidationMessageContainer For="For" />
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment AdditonalLabelContent { get; set; }

    [Parameter] public Expression<Func<TValue>> For { get; set; }

    [Parameter]
    public String LabelClass { get; set; } = "col-sm-2";

    [Parameter]
    public String InputClass { get; set; } = "col-sm-10";

}
