@foreach (var group in Groups)
{
    @if (group.DisplayCaption == true)
    {
        <li class="nav-header">@group.Caption</li>
    }

    foreach (var item in group.NavItems)
    {
        <NavItem Item="@item" />
    }
}

@code {

    [Parameter]
    public IEnumerable<NavItemGroupViewModel> Groups { get; set; }
}
