@inherits LayoutComponentBase
@layout MainLayout


<div class="wrapper d-flex flex-column">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="/" class="navbar-brand">
                <span class="brand-text font-weight-light">DaAPI</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <!-- SEARCH FORM -->

            </div>

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->
    <div class="content-wrapper d-flex flex-fill">
        @Body
    </div>

    <SiteFooter />
</div>

